<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Core Competencies</h4>
                    <p class="text-muted">Machine Learning <br> Hypothesis Testing <br> A/B Testing <br> Statistical Analysis <br> Data Visualization <br> Clustering <br> Predictive Modeling <br> Data Mining <br> Corporate Finance <br> Big Data <br> Natural Language Processing <br> Text Mining <br>Time Series Forecasting <br>Object Oriented Programming</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tools & Programming Languages</h4>
                    <p class="text-muted">Python <br> R <br> SQL <br> Tableau <br>AWS <br> SAS <br> PowerBI <br> HTML/CSS <br> JavaScript <br> Git <br> Docker</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Certifications</h4>
                    <p class="text-muted">Tableau Desktop Specialist <br> Google Analytics <br> SAS Programming – Essentials <br> Intro to Machine Learning <br> NLP with Python for Machine Learning <br> Hadoop 101 </p>
                </div>
            </div>
        </div>
    </section>